.single-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image {
  flex: 1;
  margin-right: 50px;
}

.product-image img {
  max-width: 100%;
  height: auto;
}

.product-info {
  flex: 2;
}

.product-info h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.product-info p {
  margin-bottom: 10px;
}

.product-title,
.product-brand,
.product-price,
.product-material,
.product-size,
.product-color,
.product-description,
.product-type {
  font-size: 1.1rem;
}

.product-price {
  font-weight: bold;
  color: #f04;
}

.product-info .installment-price {
  font-size: 0.9rem;
  color: #666;
  margin-left: 10px;
}

/* PhotoModal.scss */

// .photo-modal {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.9);
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .modal-content {
//   max-width: 90%;
//   max-height: 90%;
// }

// .modal-content img {
//   max-width: 100%;
//   max-height: 100%;
//   display: block;
//   margin: auto;
// }















.single-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  transition: filter 0.3s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  position: relative;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.modal-content img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.close-modal-button {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
}

.add-to-cart-button {
  background-color: #007bff; // Example blue color, adjust as needed
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  &:hover {
    background-color: #0056b3; // Darker blue on hover
  }
}
