.product-container {
    display: flex;
    justify-content: center; /* Center the product card horizontally */
  }
  
  .product-card {
    border: 1px solid #ddd; /* Border for the card */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    margin: 20px; /* Add some spacing around the card */
    overflow: hidden; /* Hide overflow content */
    width: 300px; /* Fixed width for the card */
  }
  
  .product-image img {
    width: 100%;
    height: auto;
  }
  
  .product-details {
    padding: 20px;
  }
  
  .product-details h1 {
    font-size: 20px;
    margin-top: 0;
  }
  
  .product-details p {
    margin-top: 10px;
  }
  
  .product-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .product-details ul li {
    margin-bottom: 5px;
  }
  