.table-container {
  margin-top: 20px;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
 background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  text-align: left;
  padding: 12px 15px;
}

th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

td {
  border-top: 1px solid #eee;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    text-align: right;
  }

  td:before {
    position: absolute;
    top: 12px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    content: attr(data-label);
  }

  td:last-child {
    border-bottom: 0;
  }
}

/* Styling for the forecast input and buttons for a professional look */
.forecast-input {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.forecast-input label {
  font-weight: bold;
}

.forecast-input input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Adjust the following as needed to fit your design */
.chart-container {
  padding: 20px;
  background: rgba(250, 250, 250, 0.7); /* Transparent white background */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.line-graph-container {
  display: flex;
}

.chart-container,
.forecast-chart-container {
  flex: 1;
  margin: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.chart-container {
  width: 70%; /* Adjust width as needed */
}

.data-table-container {
  width: 25%;
  max-height: 600px;
  overflow-y: auto;
  margin-top: 10px;
  color: "brown";
  background-color: "brown";
}

.data-table {
  width: 100%;
}

/* Adjust the width of the chart container */
.chart-container {
  width: 60%; /* Adjust width as needed */
}

.container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping if content overflows */
}

/* Add some margin between chart and table */
.chart-container,
.data-table-container {
  margin: 10px;
  color: "brown";
  background-color: "brown"; /* Adjust margin as needed */
}

/* Adjusted styling for the table header */
.table-header th {
  background-color: #724c31;
  color: white;
  font-weight: bold;
}
